*.pyc
*.pyo
local_settings.py	
.installed.cfg
.git/
/bin/
/develop-eggs/
/dist/
/downloads/
/eggs/
/parts/
/src/*.egg-info
/static/
/var/
/logs/
/local/
/lib/
/include/
/nodes_modules/
.emacs.d
.bash_aliases
.bash_history
.bash_prompt
.bash_venv_activate
.bashrc
.gitconfig
.gitignore.save
.nano_history
.nanorc
.pip/
.ssh/
